.button-function(){
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: teal;
    color: white;
    height: 15%;
    font-size: 14px;
    margin-bottom: 20%;
}

.btn{
    .button-function();
}